<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
    div{
        display: inline-block;
    }
    form{
        display: inline-block;
    }
    .img-circle {
    border-radius: 50%;
    }
    .img-circle {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    }
    .btn-group {
        position: absolute;
        right: 0px;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" >
        <div class="container-fluid">
            <div class="navbar-header" style="width: 100%; margin: 20px">
                <a class="navbar-brand" href="{% url 'home' %}" >
                <img alt="Brand" src="잇다 한글영어만.png" style="width: 110px; margin: 0px;">
                </a>

                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" style="border-color: #3399ff; border-width: 4px" placeholder="검색어를 입력하세요">
                    </div>

                    <button type="submit" class="btn btn-default"><img src="검색 아이콘.png" style="width: 20px;">
                    </button>
                </form>

                <div class="btn-group">
                    <img src="프로필 배경있음.png" style="width: 40px; height: 40px;" alt="" class="img-circle">

                    <!-- <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>

                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul> -->

                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                        <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- <div class="container">
            ...
        </div> -->
        
        <!-- <div class="col-lg-6">
        <div class="input-group">
        <input type="text" class="form-control" placeholder="검색어를 입력하세요">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
        </span>
        </div>
        </div> -->
        
    </nav>

    
    
    <!-- <diV class="search" style="position: relative; margin: 5%; left: 5%;">
        <input type="text" class="form-control" placeholder="검색어를 입력해주세요!">
    </diV>

    <div class="button">
        <button>검색</button>
    </div>
         -->
    

    {% block content %}
    {% endblock %}
</body>